{% load static %}
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg fixed-top shadow-sm">
        <div class="container">
            <a class="navbar-brand fw-bold text-primary" href="{% url 'home' %}">
                <i class="fas fa-bolt me-2"></i>Energy Analyzer
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                {% if request.path != '/upload/' %}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#features">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#stats">Statistics</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a  href="{% url 'upload_file' %}" class="btn btn-primary ms-lg-3 rounded-pill">Get Started</a>
                    </li>
                </ul>
                {% else %}
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="{% url 'home' %}" class="btn btn-outline-primary ms-lg-3 rounded-pill">
                            <i class="fas fa-home me-2"></i>Back to Home
                        </a>
                    </li>
                </ul>
                {% endif %}
            </div>
        </div>
    </nav>